<div class="search_tips">
	<p style="float:left;margin-right:20px;">共<span>1729</span>个搜索结果</p>
	<input type="checkbox" id="blurSearch" class="checkboxInTaici"><label for="blurSearch">模糊搜索</label>
	<input type="checkbox" id="sameWord" class="checkboxInTaici" style="margin-left:5px;"><label for="sameWord">同义词</label>
</div>
<div class="taiciSearchList">
	<div class="each-taici">
		<div class="taici-title">
			<i class="iconFake icon-inside">里</i>
			<a class="resultNameTaici ell">命运石之门【720P】【2013年4月番】【SEED压制组】</a>
			<div class="search_Operation fr">
				<a class="search_errorReport" data-sourseId=''>报错</a>
				<a class="search_download" data-sourseId=''>下载</a>
			</div>
		</div>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
	</div>
	<div class="each-taici">
		<div class="taici-title">
			<i class="iconFake icon-inside">里</i>
			<a class="resultNameTaici ell">命运石之门【720P】【2013年4月番】【SEED压制组】</a>
			<div class="search_Operation fr">
				<a class="search_errorReport" data-sourseId=''>报错</a>
				<a class="search_download" data-sourseId=''>下载</a>
			</div>
		</div>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
	</div>
	<div class="each-taici">
		<div class="taici-title">
			<i class="iconFake icon-inside">里</i>
			<a class="resultNameTaici ell">命运石之门【720P】【2013年4月番】【SEED压制组】</a>
			<div class="search_Operation fr">
				<a class="search_errorReport" data-sourseId=''>报错</a>
				<a class="search_download" data-sourseId=''>下载</a>
			</div>
		</div>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
		<p class="taici-result"><span style="margin-right:5px">[0:10:10.94]</span>LilyLilyLilyLilyLilyLilyLily</p>
	</div>
</div>
<div class="paging">
	<a class="prevPage">上一页</a>
	<a class="curPage">1</a>
	<a>2</a>
	<a>3</a>
	<a>4</a>
	<a>5</a>
	<a>6</a>
	<a>7</a>
	<a class="nextPage">下一页</a>
</div>